.features {
  padding: 4rem 0;
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
}

.col {
  flex: 1;
  padding: 1rem;
}

.featureSvg {
  height: 150px;
  width: 150px;
  margin-bottom: 1rem;
}

.text--center {
  text-align: center;
}

.padding-horiz--md {
  padding-left: 1rem;
  padding-right: 1rem;
}

.featureTitle {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #2b3137;
}

.featureSubtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #2b3137;
}

.featureText {
  font-size: 1rem;
  color: #666;
}