.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #2b3137;
  color: #fff;
}

.features {
  padding: 2rem 0;
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
}

.col {
  flex: 1;
  padding: 1rem;
}